<%- include('layouts/head'); -%>

<%- include('layouts/autocheck'); -%>
    
<% var orgName = orgName; %>
<% var orgAvatar = orgAvatar; %>
<% var assignments = assignments; %>

<div class="content-wrapper">
  <div class="content-heading">
      <div class="row">
          <div class="col-lg-12">
              <h1>Assignments</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
            <h4><%= orgName %></h4>
          </div>
      </div>
      <div class="row" style="border-top: 1px solid white; margin-top:10px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a role="button" onclick="OrgsRender()">Orgs</a></li>
            <li class="breadcrumb-item active">Assignments</li>
          </ol>
      </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default" style="border:1px solid black;">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-4">
                    <h3>Assignments</h3>
                </div>
                <div class="col-lg-3">
                  <input class="form-control" type="text" name="assignment_regex" id="assignment-regex" value="" placeholder="Assignment RegeX">
                </div>
                <div class="col-lg-3">
                  <input class="form-control" type="text" name="assignment_name" id="assignment-name" value="" placeholder="Assignment Name">
                </div>
                <div class="col-lg-2">
                  <button type="button" class="btn btn-md btn-primary btn-block" onclick="newAssignment('<%= orgName %>', '<%= orgAvatar %>')"> <i class="fas fa-plus"></i> New Assignment</button>
                </div>
              </div>
            </div>
            <div class="panel-body fixed-panel"> 
              <%if (assignments != null) { %>
                <% for(var i=0; i < assignments.length; i++) { %>
                  <div class="row">
                    <div class="col-lg-12">
                      <div style="border:1px solid white; border-bottom:1px solid black;">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-lg-1">
                              <img src="<%= orgAvatar %>" class="img-responsive"  style=" height:35px;">
                            </div>
                            <div class="col-lg-4">
                                <a role="button" onclick="AssigmentReposRender('<%= assignments[i].name %>', '<%= assignments[i].regex %>', '<%= orgName %>', '<%= orgAvatar %>')"><h4><%= assignments[i].name %></h4></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } %>  
              <% } %>    
            </div>
          </div>
      </div>

      </div>
  </div>
</div>
          
<footer><span>&copy; 2018 AutoCheck</span></footer>

<%- include('layouts/footer'); -%>
