<%- include('layouts/head'); -%>

<%- include('layouts/autocheck'); -%>
    
<% var orgName = orgName; %>
<% var orgAvatar = orgAvatar; %>
<% var assignmentRegex = assignmentRegex; %>
<% var assignmentName = assignmentName; %>

<div class="content-wrapper">
  <div class="content-heading">
      <div class="row">
          <div class="col-lg-12">
              <h1>Repositories</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
            <h4><%= assignmentName %></h4>
          </div>
      </div>
      <div class="row" style="border-top: 1px solid white; margin-top:10px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a role="button" onclick="OrgsRender()">Orgs</a></li>
          <li class="breadcrumb-item"><a role="button" onclick="AssignmentsRender('<%= orgName %>', '<%= orgAvatar %>')">Assignment</a></li>
          <li class="breadcrumb-item active">Repos</li>
        </ol>
      </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default" style="border:1px solid black;">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-4">
                    <h3>Repos</h3>
                </div>
              </div>
            </div>
            <div class="panel-body fixed-panel"> 

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="panel panel-default" style="border:1px solid white; border-bottom:1px solid black;">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-lg-1">
                              <img src="<%= orgAvatar %>" class="img-responsive"  style=" height:35px;">
                            </div>
                            <div class="col-lg-5">
                                <a role="button"><h4> NOMBRE REPO</h4></a>
                            </div>
                            <div class="col-lg-5">
                                <a class="pull-right" role="button"><h4> REPO MEMBERS</h4></a>
                            </div>
                            <div class="col-lg-1">
                              <button type="button" name="button">ACTIONS</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
      </div>

      </div>
  </div>
</div>
          
<footer><span>&copy; 2018 AutoCheck</span></footer>

<%- include('layouts/footer'); -%>
