<%- include('layouts/head'); -%>

<%- include('layouts/autocheck'); -%>

<% var orgs = orgs; %>

<div class="content-wrapper">
  <div class="content-heading">
      <div class="row">
          <div class="col-lg-12">
              <h1>Organizations</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
            <h4>List your Orgs</h4>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default" style="border:1px solid black;">
          <div class="panel-heading" style="border-bottom:1px solid black">
            <div class="row">
              <div class="col-lg-3">
                  <h3>Orgs</h3>
              </div>
              <div class="col-lg-3"></div>
              <div class="col-lg-5">
                <input class="form-control" type="text" name="orgname_regex" id="orgname-regex" value="" placeholder="Organization Regex">
              </div>
              <div class="col-lg-1">
                <button type="button" class="btn btn-md btn-green" onclick="">
                    <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="panel-body fixed-panel">
            <% for(var i=0; i < orgs.length; i++) { %>
              <div class="row">
                <div class="col-lg-12">
                  <div style="border:1px solid white; border-bottom:1px solid black;">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-lg-1">
                          <img src="<%= orgs[i].avatar_url %>" class="img-responsive"  style=" height:35px;">
                        </div>
                        <div class="col-lg-5">
                            <a role="button" onclick="AssignmentsRender('<%= orgs[i].login %>' , '<%= orgs[i].avatar_url %>')"><h4><%= orgs[i].login %></h4></a>
                        </div>
                        <div class="col-lg-1">
                          <a role="button" onclick="openOrg('<%= orgs[i].login %>')"><h5>Link</h5></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
    </div>

    </div>
  </div>
</div>
          
<footer><span>&copy; 2018 AutoCheck</span></footer>

<%- include('layouts/footer'); -%>
